<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
		 point="org.eclipse.ui.popupMenus">
	  <objectContribution
			id="checkers.eclipse.JavaElementActions"
			objectClass="org.eclipse.jdt.core.IJavaElement">
		<menu
			   id="checkers.eclipse"
			   label="Checker Framework"
			   path="additions">
			   <separator name="main"/> 
		</menu>
		<action
			   class="checkers.eclipse.actions.CheckerActions$JavariAction"
			   id="checkers.eclipse.runCheckers.javari"
			   label="Run Javari Checker"
			   menubarPath="checkers.eclipse/additions"
			   tooltip="Run the Javari checker on the selected element."/>

		<action
			   class="checkers.eclipse.actions.CheckerActions$NullnessAction"
			   id="checkers.eclipse.runCheckers.nonnull"
			   label="Run Nullness Checker"
			   menubarPath="checkers.eclipse/additions"
			   tooltip="Run the Nullness checker on the selected element."/>

		<action
			   class="checkers.eclipse.actions.CheckerActions$InterningAction"
			   id="checkers.eclipse.runCheckers.interning"
			   label="Run Interning Checker"
			   menubarPath="checkers.eclipse/additions"
			   tooltip="Run the Interned checker on the selected element."/>

		<action
			   class="checkers.eclipse.actions.CheckerActions$IGJAction"
			   id="checkers.eclipse.runCheckers.igj"
			   label="Run IGJ Checker"
			   menubarPath="checkers.eclipse/additions"
			   tooltip="Run the IGJ checker on the selected element."/>
		<action
			   class="checkers.eclipse.actions.ConvertProjectAction"
			   id="checkers.eclipse.convertProject"
			   label="Convert to Checker Project"
			   menubarPath="checkers.eclipse/main"
			   tooltip="Adds a Checker Nature to this project to enable autobuild."/>
	    <action
			   class="checkers.eclipse.actions.ClearMarkersAction"
			   id="checkers.eclipse.removeMarkers"
			   label="Clear Checkers Markers"
			   menubarPath="checkers.eclipse/main"
			   tooltip="Removes all Checker Framework markers from the selected element."/>
		<action
			class = "checkers.eclipse.actions.CheckerActions$CurrentAction"
			id    = "checkers.eclipse.runCheckers.runCurrent"
			label = "Run selected checkers"
			menubarPath = "checkers.eclipse/main"
			tooltip = "Run currently selected checkers" />
			
<!--Commented out because you need an option to pass arguments. Custom checher want -Aquals
		<action
			   class="checkers.eclipse.actions.RunCustomCheckerAction"
			   id="checkers.eclipse.runCheckers.igj"
			   label="Run Custom Checker"
			   menubarPath="checkers.eclipse/additions"
			   tooltip="Run the custom checker on the selected element."/> -->
			   
	  </objectContribution>
	  <!-- Special case context menu for simple projects that have java natures -->
	  <objectContribution
			objectClass="org.eclipse.core.resources.IProject"
			id="checkers.eclipse.NavigatorActions">
		 <menu
         id="checkers.eclipse"
         label="Checker Framework"
         path="additions">
   </menu>
		 <action
			   class="checkers.eclipse.actions.ClearMarkersAction"
			   id="checkers.eclipse.removeMarkers"
			   label="Clear Checkers Markers"
			   menubarPath="checkers.eclipse/additions"
			   tooltip="Removes all Checker Framework markers from the selected element.">
		 <enablement>
			<objectState
				  name="nature"
				  value="org.eclipse.jdt.core.javanature"/>
		 </enablement>

		 </action>
		 <action
			   class="checkers.eclipse.actions.RunCheckerAction"
			   id="srunCheckers"
			   label="Run Checkers"
			   menubarPath="checkers.eclipse/additions"
			   tooltip="Run a checker on the selected element.">
		 <enablement>
			<objectState
				  name="nature"
				  value="org.eclipse.jdt.core.javanature"/>
		 </enablement>

		 </action>
	  </objectContribution>

   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
 	<page id="CheckerPreferencePage"
 		name="Checker"
    	class="checkers.eclipse.ui.CheckerPreferencePage">
   	</page>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
			<initializer class="checkers.eclipse.prefs.PreferenceInitializer" />
	</extension>
	
	<extension 
   	id="buildnature" 
   	name="Checker Build Nature" 
   	point="org.eclipse.core.resources.natures"> 
   	  <runtime> 
         <run class="checkers.eclipse.natures.CheckerBuildNature"/> 
      </runtime> 
      <builder id="checkers.eclipse.checkerbuilder"/>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
   </extension> 
   
	<extension 
         id="checkerbuilder" 
         name="Checker Builder" 
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="checkers.eclipse.builder.CheckerBuilder">
            <parameter name="optimize" value="true"/>
            <parameter name="comment" value="CheckerBuilder"/>
         </run>
      </builder>
   </extension>
      
   <extension
		 id="checkers.eclipse.marker"
		 name="Checker Framework Problem"
		 point="org.eclipse.core.resources.markers">
	  <super type="org.eclipse.core.resources.problemmarker"/>
	  <super type="org.eclipse.core.resources.textmarker"/>
	  <persistent value="true"/>
   </extension>
   
</plugin>
